<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Success</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <script src="https://kit.fontawesome.com/a41e9403cf.js" crossorigin="anonymous"></script>
  <script src="https://js.stripe.com/v3/"></script>
</head>
<body>
    <div class="row" id="shop-header">
        <div class="col-12 d-flex justify-content-around align-items-center title">
            <a href="/paid"><button type="button" class="btn btn-primary">Home</button></a>
            AmazZone
            <div>
            <img src="images/shopping-bag.svg" class="shopping"><span class="badge badge-pill badge-dark">0</span>
            </div>
        </div>
    </div>
    <main class="centre">
        <h1> Success! </h1>
        <p>Your Order was successfully sent!</p>
        <div class="centre end" style="width:100%;height:0;padding-bottom:56%;justify-content: center; ">
            <iframe src="https://giphy.com/embed/fdyZ3qI0GVZC0" width="60%" height="60%" style="position:absolute" frameBorder="0" class="giphy-embed" allowFullScreen></iframe>
        </div>
        
    </main>
</body>
</html>